In [ ]:
pip install "altair[all]"

In [ ]:
import altair as alt
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("SSA Baby Names - All SSA Data.csv")

In [489]:
df.dtypes

Year      int64
Name     object
Sex      object
Count     int64
dtype: object

## Tiana:

In [410]:
tiana_df = df[(df['Name'] == 'Tiana')]
tiana_df = tiana_df[(tiana_df['Sex'] == 'F')]
tiana_00_df = tiana_df[(tiana_df['Year'] > 2000)]
tiana_total = tiana_00_df['Count'].sum()
tiana_total

13715

In [411]:
tiana_00_df = tiana_00_df.reset_index(drop=True).drop(columns=['Sex', 'Name'])
tiana_00_df

    Year  Count
0   2001    865
1   2002    785
2   2003    758
3   2004    704
4   2005    669
5   2006    663
6   2007    542
7   2008    481
8   2009    504
9   2010    969
10  2011    822
11  2012    711
12  2013    546
13  2014    559
14  2015    486
15  2016    476
16  2017    451
17  2018    449
18  2019    479
19  2020    407
20  2021    456
21  2022    445
22  2023    488

In [412]:
tiana_chart = alt.Chart(tiana_00_df).mark_line().encode(
    x='Year',
    y='Count'
).properties(
    title='Line Graph of tiana_00_df',
    width=600,  
    height=400 )

In [413]:
tiana_chart

alt.Chart(...)

## Moana:

In [414]:
moana_df = df[(df['Name'] == 'Moana')]
moana_df = moana_df[(moana_df['Sex'] == 'F')]
moana_00_df = moana_df[(moana_df['Year'] > 2000)]

In [415]:
moana_total = moana_00_df['Count'].sum()
moana_total

695

In [416]:
moana_00_df = moana_00_df.reset_index(drop=True).drop(columns=['Sex', 'Name'])
moana_00_df

    Year  Count
0   2001     10
1   2002      8
2   2003      9
3   2004      5
4   2005      8
5   2006     16
6   2007     10
7   2008     19
8   2009     12
9   2010      9
10  2011     12
11  2012     10
12  2013     19
13  2014     16
14  2015     18
15  2016     57
16  2017    141
17  2018     81
18  2019     51
19  2020     47
20  2021     55
21  2022     44
22  2023     38

In [417]:
moana_chart = alt.Chart(moana_00_df).mark_line().encode(
    x='Year',
    y='Count'
).properties(
    title='Line Graph of Moana',
    width=600,  
    height=400 )

moana_chart

alt.Chart(...)

## Elsa:

In [418]:
elsa_df = df[(df['Name'] == 'Elsa')]
elsa_df = elsa_df[(elsa_df['Sex'] == 'F')]
elsa_00_df = elsa_df[(elsa_df['Year'] > 2000)]

In [419]:
elsa_total = elsa_00_df['Count'].sum()
elsa_total

9629

In [420]:
elsa_00_df = elsa_00_df.reset_index(drop=True).drop(columns=['Sex', 'Name'])
elsa_00_df

    Year  Count
0   2001    247
1   2002    283
2   2003    349
3   2004    308
4   2005    350
5   2006    350
6   2007    393
7   2008    412
8   2009    426
9   2010    487
10  2011    499
11  2012    542
12  2013    566
13  2014   1140
14  2015    658
15  2016    477
16  2017    425
17  2018    303
18  2019    350
19  2020    282
20  2021    275
21  2022    262
22  2023    245

In [421]:
elsa_chart = alt.Chart(elsa_00_df).mark_line().encode(
    x='Year',
    y='Count'
).properties(
    title='Line Graph of Elsa',
    width=600,  
    height=400 )

elsa_chart

alt.Chart(...)

## Raya:

In [422]:
raya_df = df[(df['Name'] == 'Raya')]
raya_df = raya_df[(raya_df['Sex'] == 'F')]
raya_00_df = raya_df[(raya_df['Year'] > 2000)]

In [423]:
raya_00_df

         Year  Name Sex  Count
1365460  2001  Raya   F     58
1395689  2002  Raya   F     61
1425487  2003  Raya   F    105
1456803  2004  Raya   F     98
1488754  2005  Raya   F    108
1521186  2006  Raya   F    125
1555334  2007  Raya   F    126
1590085  2008  Raya   F    154
1625143  2009  Raya   F    157
1659767  2010  Raya   F    168
1693738  2011  Raya   F    191
1727707  2012  Raya   F    185
1761401  2013  Raya   F    198
1794758  2014  Raya   F    196
1828027  2015  Raya   F    204
1861069  2016  Raya   F    237
1894076  2017  Raya   F    249
1926844  2018  Raya   F    215
1958993  2019  Raya   F    239
1990977  2020  Raya   F    274
2022052  2021  Raya   F    633
2053644  2022  Raya   F    775
2085510  2023  Raya   F    862

In [424]:
raya_total = raya_00_df['Count'].sum()
raya_total

5618

In [425]:
raya_00_df = raya_00_df.reset_index(drop=True).drop(columns=['Sex', 'Name'])
raya_00_df

    Year  Count
0   2001     58
1   2002     61
2   2003    105
3   2004     98
4   2005    108
5   2006    125
6   2007    126
7   2008    154
8   2009    157
9   2010    168
10  2011    191
11  2012    185
12  2013    198
13  2014    196
14  2015    204
15  2016    237
16  2017    249
17  2018    215
18  2019    239
19  2020    274
20  2021    633
21  2022    775
22  2023    862

In [426]:
raya_chart = alt.Chart(raya_00_df).mark_line().encode(
    x='Year',
    y='Count'
).properties(
    title='Line Graph of Raya',
    width=600,  
    height=400 )

raya_chart

alt.Chart(...)

## Mirabel:

In [427]:
mirabel_df = df[(df['Name'] == 'Mirabel')]
mirabel_df = mirabel_df[(mirabel_df['Sex'] == 'F')]
mirabel_00_df = mirabel_df[(mirabel_df['Year'] > 2000)]

In [428]:
mirabel_total = mirabel_00_df['Count'].sum()
mirabel_total

925

In [429]:
mirabel_00_df = mirabel_00_df.reset_index(drop=True).drop(columns=['Sex', 'Name'])

In [430]:
mirabel_00_df

    Year  Count
0   2001      7
1   2002     11
2   2003     10
3   2004     20
4   2005     15
5   2006     20
6   2007     33
7   2008     28
8   2009     40
9   2010     20
10  2011     36
11  2012     44
12  2013     55
13  2014     37
14  2015     44
15  2016     54
16  2017     43
17  2018     47
18  2019     45
19  2020     37
20  2021     34
21  2022    153
22  2023     92

In [431]:
mirabel_chart = alt.Chart(mirabel_00_df).mark_line().encode(
    x='Year',
    y='Count'
).properties(
    title='Line Graph of Mirabel',
    width=600,  
    height=400 )

mirabel_chart

alt.Chart(...)

In [432]:
mirabel_raya_df = pd.merge(mirabel_00_df, raya_00_df, on='Year').rename(columns={'Count_x': 'Mirabel', 'Count_y': 'Raya'})

In [433]:
moana_elsa_df = pd.merge(moana_00_df, elsa_00_df, on='Year').rename(columns={'Count_x': 'Moana', 'Count_y': 'Elsa'})

In [434]:
mirabel_raya_moana_elsa_df = pd.merge(mirabel_raya_df, moana_elsa_df, on='Year')

In [443]:
mirabel_raya_moana_elsa_tiana_df = pd.merge(mirabel_raya_moana_elsa_df, tiana_00_df, on='Year').rename(columns={'Count': 'Tiana'})

In [444]:
mirabel_raya_moana_elsa_tiana_df

    Year  Mirabel  Raya  Moana  Elsa  Tiana
0   2001        7    58     10   247    865
1   2002       11    61      8   283    785
2   2003       10   105      9   349    758
3   2004       20    98      5   308    704
4   2005       15   108      8   350    669
5   2006       20   125     16   350    663
6   2007       33   126     10   393    542
7   2008       28   154     19   412    481
8   2009       40   157     12   426    504
9   2010       20   168      9   487    969
10  2011       36   191     12   499    822
11  2012       44   185     10   542    711
12  2013       55   198     19   566    546
13  2014       37   196     16  1140    559
14  2015       44   204     18   658    486
15  2016       54   237     57   477    476
16  2017       43   249    141   425    451
17  2018       47   215     81   303    449
18  2019       45   239     51   350    479
19  2020       37   274     47   282    407
20  2021       34   633     55   275    456
21  2022      153   775     44   262    445
22  2023       92   862     38   245    488

In [445]:
melted_df = mirabel_raya_moana_elsa_tiana_df.melt('Year', var_name='Princess', value_name='Number of Baby Names')

In [582]:
chart = alt.Chart(melted_df).mark_line().encode(
    x='Year',
    y='Number of Baby Names',
    color=alt.Color('Princess', scale=colors),
    tooltip=['Year', 'Princess', 'Number of Baby Names']  
).properties(
    width=900,  
    height=550,
    title='Disney Princesses Inspire Baby Names'
)

chart

alt.Chart(...)

In [447]:
names_total = {
    'Mirabel': mirabel_total,
    'Raya': raya_total,
    'Elsa': elsa_total,
    'Tiana': tiana_total,
    'Moana': moana_total,
}

In [473]:
total_count_df = pd.DataFrame(list(names_total.items()), columns=['Name', 'Total'])
total_count_df

      Name  Total
0  Mirabel    925
1     Raya   5618
2     Elsa   9629
3    Tiana  13715
4    Moana    695

In [581]:
desired_order = ['Mirabel', 'Elsa', 'Tiana', 'Raya', 'Moana']

In [570]:
chart = alt.Chart(total_count_df).mark_bar().encode(
    x=alt.X('Name:O', sort=desired_order),
    y='Total',
    color=alt.Color('Name', scale=colors)

).properties(
    width=650,  
    height=450,
    title='Thousands of baby names are inspired by Disney Princesses')

chart

alt.Chart(...)